* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Linux Libertine','Georgia','Times',sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
}

body a {
  color: black;
}

.wrapper {
  width: 85%;
}

.big-picture {
  width: 100%;
}

.middle-picture {
  max-width: 100%;
}

/* HEADER */
.header {
  background-image: url(./assets/Gniewczyce.png);
  background-size: cover;
  height: 355px;
}

.header * {
  font-size: 1.7rem;
}

.header a {
  /* color: black; */
  text-decoration: none;
  text-transform: uppercase;
}

.header a:hover {
  color: blue;
}

.header-list {
  background: rgba(255,255,255, 0.6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header-item {
  list-style: none;
  padding: 0 10px 15px;
}

.section {
  margin-top: 7rem;
}

section * {
  line-height: 1.6;
  font-size: 2rem;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3.5rem;
  line-height: 1.3;
}

.section-subtitle {
  margin-bottom: 3rem;
}

.section-text {
  margin-bottom: 15px;
  text-align: justify;
  text-align-last: left;
}

.section-explanation {
  font-size: 1.5rem;
  font-style: italic;
}

.list-item {
  margin-bottom: 15px;
}

/* MONUMENT */
.monument-container {
  display: flex;
  flex-direction: row;
}

/* .monument-image {

} */

.image-description {
  text-align: center;
  font-size: 1.3rem;
}

.image-description * {
  color: inherit;
  /* text-decoration: none; */
  font-style: italic;
  font-size: 1.3rem;
}

.monument-text {
  margin-left: 25px;
}

.monument-image img {
  width: 100%;
}

.monument-picture-container img {
  height: 250px;
}

/* CHURCH */
.church > *:not(:first-child) {
  margin-bottom: 90px;
}

.metrics > * {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .header-list {
    flex-direction: column;
    justify-content: left;
  }
}