* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 85%;
}

.big-picture {
  width: 100%;
}

/* HEADER */
.header {
  background-image: url(./assets/Gniewczyce.png);
  background-size: cover;
  height: 355px;
}

.header * {
  font-size: 1.7rem;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header-item {
  list-style: none;
}

.section {
  margin-top: 7rem;
}

section * {
  line-height: 1.6;
  font-size: 2rem;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3.5rem;
  line-height: 1.3;
}

.section-subtitle {
  margin-bottom: 3rem;
}

.section-text {
  margin-bottom: 15px;
}

.list-item {
  margin-bottom: 15px;
}

/* MONUMENT */
.monument-container {
  display: flex;
  flex-direction: row;
}

.monument-image {

}

.image-description {
  text-align: center;
  font-size: 1rem;
}

.monument-text {
  margin-left: 25px;
}

.monument-image img {
  width: 100%;
}

.monument-picture-container img {
  height: 250px;
}